{% extends "layout.html" %} {% block content %}

<script type="text/javascript">
    $(document).ready(function () {

        $("#inputImg").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#imgPreview").attr("src", e.target.result);
                    $("#imgPreview").css("display", "block");
                };
                reader.readAsDataURL(this.files[0]);
            }
        });

        $('a').click(function (e) {
            //alert($(this).attr('data-title'));
            $('#viewImageModal img').attr('src', $(this).attr('data-img-url'));
            $('#headerPhotoTitle').html($(this).attr('data-title'));
            $('#headerPhotoArtist').html($(this).attr('data-name'));
            var webSiteUrl = "<a href='" + $(this).attr('data-website') + "' target='_blank'>" + $(this).attr('data-website') + "</a>";
            $('#headerWebsite').html(webSiteUrl); 
        });
        
    });

    function ConfirmDelete() {
        return confirm("Are you sure you want to delete?");
    }
</script>

<div class="row">
    <div class="col-sm-6">
        <h1 class="font-weight-light text-center text-lg-left">Gallery</h1>
    </div>
    <div class="col-sm-6 text-right mt-2">
        {% if current_user.is_authenticated %}
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadImageModal">
                Upload Photo
            </button>
        {% else %}
            <a href={{ url_for('gallery.gallery', filter = 'U') }}>Login to upload image</a>
        {% endif %}
    </div>
</div>
<hr class="mt-1 mb-4">

<ul class="nav nav-tabs justify-content-end" id="myTab" role="tablist" style="flex-flow:row; white-space:nowrap;">
    <li class="nav-item">
        <a class="nav-link {% if filterBy == 'A' %} active {% endif %}" id="home-tab"
            href="{{ url_for('gallery.gallery', filter='A') }}" role="tab" aria-selected="true">All Photos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if filterBy == 'U' %} active {% endif %}" id="profile-tab"
            href="{{ url_for('gallery.gallery', filter='U') }}" role="tab" aria-selected="false">My Photos</a>
    </li>
</ul>

<div>

    <div class="row">
        {% for photo in photoList %}

        <div class="col-md-3">
            <a id="viewPhoto" href=""
                data-toggle="modal" data-target="#viewImageModal"
                data-img-url="{{ url_for('static', filename='uploads/' + photo.photoFileName )}}" 
                data-title="{{photo.photoTitle}}" data-name="{{photo.uploadBy}}" data-website="{{photo.userWebsite}}" >
                
                    <img src="{{ url_for('static', filename='uploads/' + photo.photoFileName )}}"
                        class="img-fluid img-thumbnail" alt="alt text here"
                        style="border-color:#d9f2d9; border-radius: 0; object-fit: cover; width: 100%; height: 200px;" />
            </a>

            <figcaption class="figure-caption px-2 py-2 mb-3"
                style="background-color: transparent;border: solid 1px #d9f2d9;">
                {{ photo.uploadBy }}
                <span class="float-right">
                    <a id="deletePhoto" onclick="return ConfirmDelete();"
                        href={{ url_for('gallery.removePhoto', id=photo.photoId ) }}>[Delete]</a>
                </span>
            </figcaption>

        </div>

        {% endfor %}
    </div>

    <div class="row justify-content-center"> {{ pagination.links }} </div>

</div>

<!-- Upload Photo Modal -->
<div class="modal fade" id="uploadImageModal" tabindex="-1" role="dialog" aria-labelledby="uploadImageModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    Upload your photo
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="uploadPhoto" method="POST" enctype="multipart/form-data">
                
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="photoTitle" class="col-lg-1 col-form-label">
                          Title
                        </label>
                        <div class="col-lg-11">
                          <input type="text" class="form-control" id="photoTitle" name="photoTitle"
                            placeholder="Enter Title (optional)" maxlength="50"/>
                        </div>
                      </div>
                    <input type="file" name="inputImg" id="inputImg" />
                    <div style="max-height: 400px; max-width: 500px; overflow: auto; padding: 10px 10px;">
                        <img id="imgPreview" src="#" alt="your image" width="100%" height="100%"
                            style="display:none; orientation: unset;" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- View Photo Modal -->
<div class="modal fade" id="viewImageModal" tabindex="-1" role="dialog" aria-labelledby="viewImageModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" >
                <h6 class="modal-title" id="viewHeader">
                    <span>Title:</span> <span id="headerPhotoTitle"></span><br>
                    <span>Artist:</span> <span id="headerPhotoArtist"></span><br>
                    <span>Website:</span> <span id="headerWebsite"></span>
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 2rem; padding-right:10px;">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <img id="popupImage" class="img-fluid" src="" alt="" />          
            </div>

            <div class="modal-footer" style="padding: 5px;">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


{% endblock %}